.home-form input.submit-button{padding: 8px 10px 8px 10px;}

.post-date-content ul li p{padding: 2px 0 0 5px;}

.pagination a{padding: 7px 14px 8px;}

.post-single-date-content ul li p{margin: 2px 0 0 5px;}

.form input.submit-button{padding: 8px 10px 8px 10px;}